extends layouts/layout

block content
  h3 영화 추가하기
    form(action="/create", method="POST")
      .add__movie
        input(type="text", name="title" placeholder="제목을 입력하세요.")
        input(type="text", name="year" placeholder="개봉연도을 입력하세요.")
        input(type="text", name="rating" placeholder="평점을 입력하세요.")
        input(type="text", name="synopsis" placeholder="시놉시스를 입력하세요.")
        input(type="text", name="genresArray" placeholder="장르를 ,를 통해 입력하세요.")
        input(type="submit" value="영화 등록")
